<ion-header>

    <ion-navbar>
      <ion-title>{{ item.id + '-' + item.descripcion}}</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content>
    <img *ngIf="item.profilePic" [src]="item.profilePic">
    <div class="item-detail" padding>
      <ion-grid>
        <ion-row>
          <ion-col col-1 align-self-start>
              <p><ion-icon name="key" color="primary"></ion-icon></p>
          </ion-col>
          <ion-col align-self-end>
              <h2> {{item.id}}</h2>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-1 align-self-start>
              <p><ion-icon name="calendar" color="secondary"></ion-icon></p>
          </ion-col>
          <ion-col align-self-end>
              <p> {{item.fecha_inicio | date:'longDate'}}
                <span *ngIf="item.fecha_fin"> - {{item.fecha_fin | date:'longDate'}}</span>
              </p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-1 align-self-start>
              <p><ion-icon name="home"></ion-icon></p>
          </ion-col>
          <ion-col align-self-end>
              <h3> {{item.descripcion}}</h3>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-1 align-self-start>
              <p><ion-icon name="locate"></ion-icon></p>
          </ion-col>
          <ion-col align-self-end>
              <p> {{item.ubicacion}}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-1 align-self-start>
              <p><ion-icon name="cog" color="auxiliar"></ion-icon></p>
          </ion-col>
          <ion-col align-self-end>
              <h3> {{item.estado}}</h3>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-content>
