<ion-header>

  <ion-navbar>
    <ion-title>{{'Listado de Visitas de Obra: ' + currentObra.id}}</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="addItem()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-card *ngFor="let item of currentItems" color="primary">
    <ion-card-header>
      <span *ngIf="item.num_visita">
        {{item.num_visita}}
      </span>
      <span *ngIf="item.fase">
        {{'-' + item.fase}}
      </span>
    </ion-card-header>
    <ion-list>
      <ion-item-sliding>
        <button ion-item (click)="updateItem(item)">
          <ion-grid>
            <ion-row>
              <ion-col>
                <p *ngIf="item.elementos">
                  <strong>
                    {{item.elementos}}
                  </strong>
                </p>
                <p>
                  <ion-icon name="build" [color]="colorEstado(item.estado_elementos)"></ion-icon>
                  <span *ngIf="item.estado_elementos">
                    {{estadoElementos(item.estado_elementos)}}
                  </span>
                </p>
                <p *ngIf="item.documentos">
                  <strong>
                    {{item.documentos}}
                  </strong>
                </p>
                <p>
                  <ion-icon name="document" [color]="colorEstado(item.estado_documentos)"></ion-icon>
                  <span *ngIf="item.estado_documentos">
                    {{estadoDocumentos(item.estado_documentos)}}
                  </span>
                </p>
              </ion-col>
              <ion-col col-4>
                <ion-note *ngIf="item.fecha" color="primary">{{item.fecha}}</ion-note>
                <br>
                <ion-avatar *ngIf="item.profilePic">
                  <img [src]="item.profilePic" />
                </ion-avatar>
              </ion-col>
            </ion-row>
          </ion-grid>
          <p *ngIf="item.observaciones">
            <em>
              {{item.observaciones}}
            </em>
          </p>
        </button>

        <ion-item-options>
          <button ion-button color="danger" (click)="deleteItem(item)">
            <h2>
              <ion-icon name="trash"></ion-icon>
            </h2>
            Eliminar
          </button>
          <button ion-button color="primary" (click)="updateItem(item)">
            <h2>
              <ion-icon name="create"></ion-icon>
            </h2>
            Editar
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ion-card>
</ion-content>