<ion-header>

  <ion-navbar>
    <ion-title>{{ 'SIGNUP_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <form (submit)="modeUpdate?updateSignup():doSignup()">
    <ion-list>

      <ion-item>
        <ion-label fixed>Nombre</ion-label>
        <ion-input type="text" [(ngModel)]="account.first_name" name="first_name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label fixed>Apellidos</ion-label>
        <ion-input type="text" [(ngModel)]="account.surname" name="surname"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label fixed>Fecha de nacimiento</ion-label>
        <ion-input type="date" [(ngModel)]="account.birthday" name="birthday"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label fixed>Género</ion-label>
        <ion-select [(ngModel)]="account.gender" name="gender" interface="action-sheet" submitText="Ok" cancelText="Cancelar">
          <ion-option *ngFor="let gender of generos" [value]="gender.name">{{gender.name}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label fixed>{{ 'EMAIL' | translate }}</ion-label>
        <ion-input type="email" [(ngModel)]="account.email" name="email"></ion-input>
      </ion-item>

      <ion-item *ngIf="!modeUpdate">
        <ion-label fixed>{{ 'PASSWORD' | translate }}</ion-label>
        <ion-input type="password" [(ngModel)]="account.password" name="password"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label fixed>Designación</ion-label>
        <ion-input type="text" [(ngModel)]="account.appointment" name="appointment"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label fixed>Colegio</ion-label>
        <ion-input type="text" [(ngModel)]="account.collage" name="collage"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label fixed>Nº de Colegiado</ion-label>
        <ion-input type="text" [(ngModel)]="account.num_collage" name="num_collage"></ion-input>
      </ion-item>

      <div padding>
        <button ion-button color="primary" block>{{modeUpdate? 'Actualizar Perfil':'SIGNUP_BUTTON' | translate }}</button>
      </div>

    </ion-list>
  </form>
</ion-content>